/* Estos estilos son del index*/
.fondo {
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}


.title {
	font-family: 'Coiny', cursive;
	color: #E500A7;
	font-size: 100px;
	margin-top: 100px;
	text-shadow:2px 2px black;
}

.btn {
	
	background-color: transparent;
	margin-top: 300px;
	border-radius: 5px;
	border: 1px solid #E500A7;
	color:white;
	font-family: 'Indie Flower';
}
.btn-index {
	min-width: 100%;
	letter-spacing: 3px;

}
.btn:hover {
	background-color: #E500A7;
	color:white;
}

/* Aquí empiezan los estilos de inicio-sesion */

/*.fondo-textura {
	background-image: url(../img/textura.jpg);
}*/

h3 {
	font-family: 'Indie Flower', cursive;
	color:black;
	text-shadow:1px 1px #E500A7;
}

h6 {
	padding-bottom: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	border-bottom: 1px solid #D6D9E1;
	margin-bottom: 35px;
}

.fa {
	font-size: 40px;
	margin-top: 15px;
}

.margen {
	margin-right: 20px;
	margin-left: 20px;
}


.form-inline {
	margin-top: 20px;
}
.fa-arrow-circle-left {
	color:black;
}

.fa-arrow-circle-left:hover {
	color:#E11680;
}

.btn-next  {
	background-color: #D2149D;
	margin-top: 100px;
	border-radius: 5px;
	border: 1px solid black;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Indie Flower', cursive;
	letter-spacing: 3px;
	margin-left: 
}

.btn-next:hover {
	background-color: #3093E1;
}

.chile {
	width:20px;
}

.frase {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-top: 35px;
	background-color: #D2149D;
	color:white;
	padding:15px;
	border-radius:10px;
	border:1px solid black;

}


/*Aquí empiezan los estilos de piases.html*/


.fondo-paises {
	/*background-color:  #D2149D;*/
	border-radius: 10px;
}
.title1 {
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
	color:black;


}
.title2 {
	text-shadow:none;
	color:black;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	padding:10px;
}

ul li {
	list-style: none;
	padding:5px;
	border-bottom: 1px solid #D6D9E1;
}
ul li a {
	color:black;
}
ul li a:hover {
	text-decoration: none;
	color:#2F71D2;
}
ul li img {
	margin-right: 30px;
}

ul li span {
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
}


/*Aquí empiezan los estilos de login*/


.color {
	color:#348FE1;
}

.input {
	max-width: 300px;
	margin:0 auto;
	

}